/*პირველი სექცია*/
.sea-class {
  width: 1300px;
  height: 800px;
  background-image: url(images/pexels-asadphoto-457882.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 auto;
  position: relative;
}
.ship-class {
  position: absolute;
  left: 350px;
  bottom: 275px;
  width: 100px;
  animation: ship 40s ease-in infinite 2s;
}

@keyframes ship {
  from {
    left: 350px;
  }
  to {
    left: 1190px;
  }
}
.ship-section {
  margin-bottom: 100px;
}
/*მეორე სექცია*/

.moon-box {
  background-image: url(images/for\ moon.jpg);
  width: 1300px;
  height: 800px;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 auto;
  position: relative;
}
.moon {
  width: 70px;
  position: absolute;
  left: 0px;
  animation: moon 35s ease-in infinite 1s;
}
@keyframes moon {
  from {
    top: 0px;
  }
  to {
    top: 390px;
    left: 520px;
  }
}
.moonset {
  margin-bottom: 100px;
}

/*მესამე სექცია*/
.ocean-life {
  background-image: url(images/ocean.jpg);
  width: 1300px;
  height: 800px;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 auto;
  background-position: center;
  position: relative;
}
.nemo {
  width: 250px;
  position: absolute;
  top: 0px;
  left: 0px;
  animation: nemo 40s infinite 1s ease-in;
}
@keyframes nemo {
  from {
    left: 0px;
  }
  to {
    left: 1100px;
  }
}
.octopus-class {
  width: 150px;
  position: absolute;
  bottom: 250px;
  left: 250px;
  animation: octopus 2s 1s ease-in infinite alternate;
}
@keyframes octopus {
  from {
    bottom: 250px;
  }
  to {
    bottom: 300px;
  }
}
.turtle-class {
  width: 280px;
  position: absolute;
  bottom: 40px;
  animation: turtle 50s infinite ease-in 1s;
}
@keyframes turtle {
  from {
    left: 0px;
  }
  to {
    left: 1100px;
  }
}
.fish-class {
  width: 200px;
  position: absolute;
  top: 170px;
  right: 0px;
  animation: fish 35s infinite ease-in 1s;
}
@keyframes fish {
  from {
    right: 0px;
  }
  to {
    right: 1100px;
  }
}

.horsefish {
  width: 300px;
  position: absolute;
  bottom: 240px;
  right: 0px;
  animation: horsefish 3s infinite ease-in alternate 1s;
}
@keyframes horsefish {
  from {
    bottom: 230px;
  }
  to {
    bottom: 150px;
  }
}
